/*============ Start Global ==============*/
body{
    color: #cccccc;
    font-family: 'Philosopher', sans-serif;
    text-align: left;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.body-content{
    background-image: url('../images/containtBackground.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1em;
    padding-bottom: 2em;
}
/*============ Start Header ==============*/
.logo{
    padding: .6em 0 .8em 0.5em;
    font-size: 4em;
}
nav .links{
    list-style: none;
    margin-bottom: 1em;
}
nav .links li{
    display: inline-block;
}
nav .links li a{
    text-decoration: none;
    background: #131313;
    color: #fff;
    padding: .2em 1em;
    font-size: 1em;
    box-shadow: 0 -0.2em 0.1em #e2d3d3;
}
/*=============== first article ==============*/
article .about-cyf{
    color: #e91a57;
    margin-bottom: .5em;
    font-size: 2em;
    margin-top: 0.8em;
}
article .what-we-do{
    margin-bottom: 0.6em;
}
article .cyf-devintion{
    line-height: 1.6em;
    margin-bottom: 1em;
    margin-right: 5em;
}
article .our-focus{
    color: #ebdd00;
    margin-bottom: 0.6em;
}
article .links{
    color: #fff;
    margin-left: 2em;
}
article .footer{
    color: #ebdd00;
    margin: 2em 0;
}
article .footer >a{
    text-decoration: none;
    color: #fff;
}
/*================= Second article ======================*/
article .news{
    margin-bottom: .8em;
}
.hiddenShow{
    display: none;
}

article #showAndHide{
    cursor: pointer;
}
article .showHideHeader{
    color: #e91a57;
    margin-bottom: .5em;
}
article .news-first-pragraph{
    margin-right: 5em;
}
article .news-second-pragraph{
    margin: 1em 0 0 4em;
}
/*================= Start Section ======================*/
section h1:first-child{
    margin: .8em 0;
}
section .note{
    margin-bottom: 1.5em;
}
section .required-field{
    margin: .8em 0;
}
.error{
    background: #f00;
}
section form input[type='text']{
    padding: .4em .5em;
    margin: .5em 0;
}
section form input[type='email']{
    padding: .4em 10em .4em .5em;
    margin: .5em 0;
}
section form input[type='number']{
    padding: .4em 10em .4em .5em;
    margin: 5px 0;
}
section form button{
    padding: .3em .4em;
    margin: .5em 0;
}
/*=============== Media query ================*/
@media (max-width : 39em){
    nav .links li a{
    padding: .3em .3em;
}
section form input[type='email'],
section form input[type='number']{
    padding: .4em 6em .4em .5em;
}
/*============ Max-wdth 592 =============*/
}
@media (max-width : 59.2em){
    .container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
article .cyf-devintion{
    margin-right: 0;
}
article .news-first-pragraph{
    margin-right: 0;
}
article .news-second-pragraph{
    margin: 1.5em 0 1.5em 1em;
}
}