.heading {
    font-family: 'Apple-Chancery', cursive;
    font-style: italic;
    font-size: 60px;
}

.whiteFont {
    color: white;
}
.yellow {
    color: yellow;
}

.red {
    color: #C91A44;
}

.Italic {
    font-style: italic;
}

.bordercontainer {
    /*border: 3px solid blue;*/
    /*display: flex;*/
    margin-right: 29%;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35%;
    padding-top: 2%;
}

.submitbox {
    /*border: 4px solid hotpink;*/
    padding-top: 1%;
    padding-bottom: 1%;
}
.submitform {
    /*border: 2px solid yellow;*/
    display: flex;
    padding-bottom: 1%;
    padding-top: 2%;
    padding-right: 23%;
    flex-direction: column;
    justify-content: space-around;
}

.submitform .width {
    margin-right: 38%;
}
.buttonSize {
    padding-right: 2%;
}

.indentedParagraph {
    /*border: solid rebeccapurple;*/
    padding-left: 10%;
}
.biggertext {
    font-size: 25px;
}

.listIndentation {
    margin-left: -4%;
}

.inValid {
    background-color : rebeccapurple;
}

.hidden {
    display: none;
}

nav-bar button {
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    box-shadow:2px 4px 8px 0 rgba(255, 255, 255, 0.5)
}

nav-bar button:hover {
    box-shadow:12px 15px 20px 0 rgba(255, 255, 255, 0.5)
}