body{
    background-image: url("assets/background.png");
    background-size: 100% 100%;
    color: white;
}

.pink {
    color: #9A0F0A;
}

.yellow {
    color:yellow;
}
.purple{
    color:purple;
}

.primary-column {
    background-color: black;
    color: white;
    width: 15%;
}

.menu-border {
    border-style: solid;
    border-right:white;
    border-bottom:white;
}

.primary-content{
    display: flex;
    flex-direction: row;
   
}
